body {
    margin: 0%;
}
.top-bar {

    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    background-color: red;
    display: flex;
}

.carrito {
    background-color: antiquewhite;
    display: flex;
}

.portada {
    display: flex;
    padding: 150px;
    background-color:yellow;
}

.seccion-secundaria {
    display: flex;
    background-color: blueviolet;
    flex-direction: row;
}

.control-productos {
    display: flex;
    background-color: beige;
    margin: 20px;
}

.filtros {
    background-color: blanchedalmond;
    margin: 20px;
    padding: 40px;
    flex: 0 1 200px;
}

.categorías-de-filtros {
    display: flex;
    flex-direction: column;
}

.puntaje-de-filtros {

    display: flex;
    flex-direction: row;
    flex: 0 1 10%;

}

.productos {
    margin-left: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tarjeta {
    background-color: yellowgreen;
    margin: 10px;
    padding: 50px;
    flex: 0 1 200px;
}

footer {
    background-color: chartreuse;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}